@tailwind base;
@tailwind components;
@tailwind utilities;

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.MovieCard {
  width: 156px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 25px 2px;

  /* You can adjust the value as needed */
}

.MovieCard:hover {
  transform: scale(1.2);
  /* Ensure a higher z-index on hover */
}
